<div class="about">
  <div class="image">
    <img src="/assets/avatar.jpg"/>
  </div>
  <div class="content">
    <p>Hey, I’m Randy, a developer from China.</p>
    <p>I was born in 1995. Since I was 13, I was fond of computer programming. Up to now, I still learn lots of code skill and technology. Especially about web developement.</p>
    <p>If you can read the Chinese, you could move to <a href="http://djyde.github.io">My Chinese Blog</a> and read more articles.</p>
    <p>I like open-souce, so you can find my code on <a href="http://github.com/djyde">Github</a>.</p>
    <p>Contact me on <a href="http://weibo.com/djyde">Sina Weibo</a> or email me at <a href="mailto:randypriv@gmail.com">randypriv@gmail.com</a></p>
  </div>
</div>