.info
  %img{src: "http://blogscdn.qiniudn.com/avatar.JPG"}
  %p.name Randy Lu
  %p.desc A programmer who loves JavaScript and now is learning Ruby on Rails


.post-list
  - @posts.each do |post|
    %p.title= link_to(post.title,post_path(post))
    %p.date= post.created_at.strftime('%F')


