/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$brown: #795548;
$gray: #9E9E9E;
$red: #F44336;
.center{
  text-align: center;
}

.btn{
  text-decoration: none;
  color: #fff;
  font-size: .8em;
  border-radius: 12px;
  padding: 8px 12px;
  display: inline-block;
}

.btn-primary{
  background-color: $brown;
}

.btn-warnning{
  background-color: $red;
}


.post-list{

  text-align: center;
  padding: 32px;

  .title a{
    text-decoration: none;
    color: $brown;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .title a:hover{
    text-decoration: underline;
  }

  .date{
    color: $gray;
    font-size: .8em;

    p{
      margin: 0;
    }

  }
}

.info{
  background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");
  background-size: 100%;
  padding: 128px 256px;
  color: #fff;
  text-align: center;

  img{
    max-width: 128px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .name{
    font-size: 2em;
  }

  .desc{
    font-size: .9em;
    letter-spacing: 4px;
  }
}

.post{

  width: 720px;
  margin: 0 auto;
  margin-top: 180px;

  .title{
    color: $brown;
    text-align: center;
  }

  .date{
    font-size: .9em;
    color: $gray;
    text-align: center;
  }

  code{
    background-color: #f7f7f7;
    width: 100%;
    display: block;
    border-radius: 8px;
    padding: 12px;
    font-size: .8em;
  }

  .operation{
    padding: 28px;
    margin: 0 auto;
    text-align: center;
  }

  .content {
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;

    p{
      margin-top: 38px;
      margin-bottom: 38px;
    }
  }
}